.note {
  height: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0 10px;
  .common-style {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: auto;
    padding: 20px;
  }

  .editor {
    .common-style();
    resize: none;
    outline: none;
    border: none;
    border-right: 1px solid #ccc;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
  }

  .present {
    .common-style();
  }
}
