@import '../../../assets/styles/vars.less';
.kanban {
  .tool-bar {
    height: @toolbarHeight;
    line-height: @toolbarHeight;
    margin: 0 50px @toolbarMarginBottom @toolbarMarginBottom;
    overflow: hidden;
    &-filter {
      float: left;
    }
    &-filter-own {
      float: left;
      margin-left: 10px;
    }
  }
  .lane-container {
    font-size: 16px;
    @lane-width: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    min-width: @lane-width * 3 + 100px;
    .lane {
      height: auto;
      background-color: #EEEEEE;
      user-select: none;
      width: @lane-width;
      padding: @lanePaddingTop;
      &-title {
        height: @laneTitleHeight;
        text-align: center;
        margin-bottom: 0;
      }
      &-body {
        margin-top: 5px;
        min-height: 71px;
      }
      &-footer {
        text-align: center;
        margin-top: 10px;
        &-buttons {
          margin-top: 5px;
          text-align: left;
          button:last-child {
            margin-left: 5px;
          }
        }
      }
    }
    .task {
      margin-top: 5px;
      background: #fff;
      border: 1px solid black;

      &.placeholder {
        background: #ccc;
        height: 71px;
      }
      &-header {
        padding: 5px;
        border-bottom: 1px solid black;
        overflow: hidden;
        font-size: 12px;
        .order {
          float: left;
        }
        .avatar {
          float: right;
          margin-right: 10px;
        }
        .delete {
          float: right;
          cursor: pointer;
          &:hover {
            color: red;
          }
        }
      }
      &-title {
        padding: 5px;
        height: 58px;
        word-wrap: break-word;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .arrow {
        text-align: center;
        i {
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }


}
